/* @import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss'; */
body {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: dark;
}

/* nav li:last-child a{
    background:$primary;
} */
nav li a {
  transition: all 0.3s ease-in-out;
}
nav li a:hover {
  color: #FE5F1E;
}

section.hero {
  background: #F8F8F8;
}

.btn-primary {
  background: #FE5F1E;
  margin-top: 15px;
}
.btn-primary:hover {
  background: #b23301;
}

.size {
  background: #F8F8F8;
}

.addto-cart {
  border: 2px solid #FE5F1E;
  color: #FE5F1E;
  transition: all 0.3s ease-in-out;
}
.addto-cart:hover {
  border-color: #fff;
  background: #FE5F1E;
  color: #fff;
}
.addto-cart:focus {
  outline: none;
}

section.cart {
  background: #F8F8F8;
}

section.cart {
  background: #F8F8F8;
}
section.cart .amount {
  color: #FE5F1E;
}

/* .noty_theme_mint{
    border-radius:50px !important;
    padding-left:8px !important;
} */
.login {
  background: #F8F8F8;
  min-height: calc(100vh-86px);
}
.login a {
  color: #FE5F1E;
}
.login a:hover {
  color: #b23301;
}
